# WeatherPy

## Analysis
* Observed Trend 1
* Observed Trend 2
* Observed Trend 3

In [23]:
from citipy import citipy
import openweathermapy as owm
import pandas as pd
import matplotlib.pyplot as plt
import requests
import random
#Import list of cities
citydf = pd.read_csv('worldcitiespop.txt',encoding='utf-8',low_memory=False,dtype=str)
print(citydf.info())
#Remove unused columns and deduplicate on lat & lng
# Deduplicating removes ~30% of cities but retains
# some duplicates with near lat-long, although sampling from
# 2.2E6 should make the effect on trend data minimal
citydf = citydf.drop(columns=['AccentCity','Region','Population'])
citydf = citydf.drop_duplicates(subset=['Latitude','Longitude'],keep='first')
citydf = citydf.reset_index()
print(citydf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173958 entries, 0 to 3173957
Data columns (total 7 columns):
Country       object
City          object
AccentCity    object
Region        object
Population    object
Latitude      object
Longitude     object
dtypes: object(7)
memory usage: 169.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243854 entries, 0 to 2243853
Data columns (total 5 columns):
index        int64
Country      object
City         object
Latitude     object
Longitude    object
dtypes: int64(1), object(4)
memory usage: 85.6+ MB
None

In [24]:
#Build cities data frame by using pandas sample method
# initial testing will use 50 for expedited 
cities =

           index Country               City     Latitude   Longitude
2243849  3173951      zw  zikamanas village  -18.2166667       27.95
2243850  3173952      zw           zimbabwe  -20.2666667  30.9166667
2243851  3173953      zw         zimre park  -17.8661111  31.2136111
2243852  3173955      zw         zizalisari  -17.7588889  31.0105556
2243853  3173956      zw            zuzumba  -20.0333333  27.9333333